<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!-- <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"> -->
    <meta name="viewport" content="width=device-width" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Rails Camp Queensland" %></title>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <%= javascript_include_tag :all %>

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Styles -->
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">

    <div class="hero-unit">
      <div class="header">
      </div>
    </div>

    <div class="container theme-showcase" role="main">


      <%= yield %>

      <img src="images/display_yield.png" alt="yield tent" class="yield">
  </div> <!-- /container -->

  <footer class="footer">
    <p>
      <i class="fa fa-copyright"></i> 2016 Rails Camp Queensland
    </p>
  </footer>
</body>
</html>
