<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!-- <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"> -->
    <meta name="viewport" content="width=device-width" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Rails Camp Adelaide" %></title>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <%= javascript_include_tag :all %>

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Styles -->
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">

<%#
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rails Camp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#info">Info</a></li>
            <li><a href="#tickets">Tickets</a></li>
            <li><a href="#speakers">Speakers</a></li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
%>

    <div class="hero-unit">
      <div class="header">
          <img class="header-image" src="images/railscamp19logo.png" alt="RailsCamp 19 Adelaide Hills 8-11 July 2016">
      </div>
    </div>

    <div class="container theme-showcase" role="main">


      <%= yield %>

  </div> <!-- /container -->

  <footer class="footer">
    <p>
      Header image <i class="fa fa-copyright"></i> John Sexton
      // Header design <i class="fa fa-copyright"></i> Richie Khoo
      // <i class="fa fa-copyright"></i> 2016 Rails Camp Adelaide
      // Design inspiration from Rob McFadzean
    </p>
  </footer>
</body>
</html>
